BasedOnStyle: Microsoft

Language: Cpp

TabWidth: 4
PointerAlignment: Right
IndentCaseLabels: true
ColumnLimit: 100
NamespaceIndentation: All
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
